VITE_SUPABASE_URL=https://gwubjjnyepmxkyupnhch.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YqlHq_rzwyj0nXsOk3_fiw_05xeQgdV
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YqlHq_rzwyj0nXsOk3_fiw_05xeQgdV